.navbar-nav{
  align-items: flex-end;
  font-size: 1.5rem;
}

.jumbotron{
  background-image: url(http://placeimg.com/640/480/any);
  background-size: cover;
  height:100vh;
}

footer{
  text-align: center;
  padding: 5px 0;
  border-top: solid black 2px;
}

.github{
  width:30px;
  margin-right: 5px;
}
