

.jumbotron{
  background-image: url(http://placeimg.com/640/480/any);
  background-size: cover;
  height:100vh;
}

footer{
  text-align: center;
  padding: 5px 0;
  border-top: solid black 2px;
}

.github{
  width:15px;
  margin-right: 5px;
}

.timeline-item{
  background:#e8ecbb;
  border: solid 1px #f62459;
  border-radius: 5px;
}

.hide{
    display:none;
}

@media(min-width: 790px){
  .navbar-nav{
    align-items: flex-end;
    font-size: 1.5rem;
  }
  .github{
    width:20px;

  }
}
